<h1>Menu#index</h1>
<ul>
<li> <%= link_to 'Artbase Sync',	controller: "collections"  %></li>
<li> <%= link_to "Collections", 	controller: "collections" %></li>
<li> <%= link_to 'Merchandise', 	controller: "collections"  %></li>
<li> <%= link_to 'Media', 			controller: "collections"  %></li>
<li> <%= link_to 'Statistics', 		controller: "collections"  %></li>
</ul>
