<div class="sidebar" data-image="" data-color="">
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="#" class="simple-text">ArtSpot</a>
      <ul class="nav">
         <li>
            <%= artbase_link %>
        </li>
        <li>
            <%= collections_link%>
        </li>
        <li>
            <%= merchandise_link%>
        </li>
        <li class="active">
            <%= media_link%>
        </li>
        <li>
            <%= statistics_link%>
        </li>
      </ul>
      </div>
    </div>
  <div class="sidebar-background" data-image="" style="background-image: url(<%= asset_path 'sidebar-3.jpg' %>)">
  </div>
</div>
   
