<!DOCTYPE html>
<html>
<head>
  <title>Artspot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield(:css) %> <!-- We use this section for our CSS files -->
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>	
<%= render 'layouts/dashboard' %>
<% else%>
<%= render 'layouts/user_widget' %>
<% end%>
<%= yield(:javascript) %><!-- We put our JavaScript tags here -->
</body>
</html>
